.app {
  text-align: center;
  font-weight: 200;
}

h1 {
  font-weight: 100;
  font-size: 50px;
  color:rgb(42, 149, 216)
}

.user-list {
  position: relative;
  margin: auto;
  text-align: center;
}

.user-card {
  display: flex;
  width: 75%;
  max-width: 700px;
  background-color: rgb(232, 246, 255);
  margin: 20px auto;
  align-items: center;
}

.user-card img {
  margin: 20px;
  display: inline;
  border-radius: 200px;
}

.user-card h3 {
  display: inline-block;
  margin: 0 20px 0 20px;
}

h4 {
  display: inline-block;
  font-weight: 100;
  margin: 0
}